.comparison-photos {
  position: relative;
}

.before {
  z-index: 2;
  position: relative;
  max-width: 90vw;
  max-height: 90vh;

}

.after {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  max-width: 90vw;
  max-height: 90vh;
}
